# WP3-2A governed automation surfaces
/.github/workflows/wp3_2a_*.yml @jl2642
/automation/wp3_2a/ @jl2642
/investment_os_runtime/40_EVIDENCE_AND_LINEAGE/WP3_2A/ @jl2642
/investment_os_runtime/50_MARKET_CAPABILITY_BINDINGS/A_SHARE_CURRENT.json @jl2642
